{% set stuff = module('stuff') %}

<html>
    <body>

        <p>
        I am a test Jinja! {{ stuff.test('HELLO') }}
        </p>

        <h1>Params</h1>
        <table>
            <tr><th>PARAM</th><th>VALUE</th></tr>

            {% for param, value in web.params.items() %}
                <tr><td>{{ param }}</td><td>{{ value }}</td></tr>
            {% endfor %}
        </table>

        <h1>Headers</h1>

        <table>
            <tr><th>HEADER</th><th>VALUE</th></tr>

            {% for header, value in web.headers.items() %}
                <tr><td>{{ header }}</td><td>{{ value }}</td></tr>
            {% endfor %}
        </table>

        <h1>Variables</h1>
        <table>
            <tr><th>Variable</th><th>Value</th></tr>
            <tr><td>client_address</td><td>{{ web.client_address }}</td></tr>
            <tr><td>server</td><td>{{ web.server }}</td></tr>
            <tr><td>command</td><td>{{ web.command }}</td></tr>
            <tr><td>path</td><td>{{ web.path }}</td></tr>
            <tr><td>request_version</td><td>{{ web.request_version }}</td></tr>
            <tr><td>headers</td><td>{{ web.headers }}</td></tr>
        </table>
    </body>
</html>
